@import 'index.scss';

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  padding: 15px;
  flex: 1;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  min-width: 150px;
  @include mobile {
    min-width: 80px;
  }
}

.primary {
  background-color: $blue;
}

.secondary {
  background-color: $primary;
}

.outline {
  border: 1px solid $primary;
}

.disabled {
  filter: brightness(50%);
  cursor: initial;
}

.loading {
  margin: 0 -20px 0 10px !important;
}