@import 'index.scss';

.Info {
  display: flex;
  flex-direction: column;
  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;

    @include mobile {
      flex-direction: column;
      margin-bottom: 10px;
    }
  }
}