@import 'index.scss';

.Info {
  display: flex;
  flex-direction: column;

  .header {
    padding-bottom: 10px;
    font-family: 'Messina';
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    word-break: break-word;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $gray3;
    span:last-child {
      margin-left: 10px;
    }
    .headerFont {
      font-family: 'Messina';
    }
  }
}