@import 'index.scss';

.Transactions {
  .transaction {
    border-bottom: 1px dashed $primary;
    padding: 20px 0;
    &:last-child {
      border-bottom: none;
    }
  }
}

.subTitle {
  margin-bottom: 20px;
  span {
    margin-right: 20px;
  }
}