@import 'index.scss';

.Home {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-height: 100vh;

  @include mobile {
    flex-direction: column;
    max-height: initial;
  }

  .main {
    padding: 40px;
    background-color: $background;
    flex: 1;
    overflow: auto;
    @include mobile {
      padding: 20px;
    }
  }
}