@import 'index.scss';

.Status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background-color: #1f1e23;
  max-width: 300px;
  flex: 1;
  font-size: 14px;
  @include mobile {
    max-width: 100%;
    padding: 20px;
  }

  h1 {
    margin-bottom: 40px;
  }

  .statusCircle {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: $red;
    margin-left: 10px;
  }
  .healthy {
    background-color: $green;
  }

  .indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .icon {
    cursor: pointer;
    background-color: $gray;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    svg {
      width: 12px;
      height: 12px;
    }
  }

  .github {
    cursor: pointer;
    color: $gray;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.logo {
  margin-bottom: 40px;
  height: 50px;
}