@import 'index.scss';

.Copy {
  .icon {
    cursor: pointer;
    background-color: $gray;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    svg {
      width: 12px;
      height: 12px;
    }
  }

  .light {
    background-color: $primary;
    color: $white;
  }
}
