@import 'index.scss';

.MobileHeader {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px 30px 0;

  @include mobile {
    display: flex;
  }

  .logo {
    height: 30px;
  }
}