@import 'index.scss';

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: flex-end;

  div:first-child {
    margin-right: 10px;
  }
}

.disclaimer {
  padding: 10px;
  background-color: $blue;
  color: $white;
  margin-top: -12px;
  font-size: 12px;
}

.note {
  margin: 10px 0;
  font-size: 14px;
  display: flex; 
  flex-direction: row;
}

.position {
  color: $white;
  font-weight: bold;
  margin: 0 7px;
}
