@import 'index.scss';

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: flex-end;

  div:first-child {
    margin-right: 10px;
  }
}

.disclaimer {
  font-size: 12px;
}

.tabs {
  margin-top: 20px;
}
