$primary: #5e6c82;
$white: white;
$red: red;
$green: green;
$blue: rgb(34, 118, 255);
$background: #0f0f0f;
$black: black;
$lightbackground: #0a1320;
$darkgray: #26252a;
$gray: #36353d;

html {
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  color: $primary;
  background-color: $background;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  margin: 0;
  white-space: pre;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 25px;
  color: $blue;
}

h2 {
  margin: 0 0 10px 0;
}

@mixin mobile {
  @media screen and (max-width: 1000px) {
    @content
  }
}

@mixin tablet {
  @media screen and (max-width: 1000px) {
    @content
  }
}
