$primary: #788292;
$white: white;
$red: #f76b6b;
$yellow: #ecb937;
$green: #20ac92;
$blue: rgb(24, 108, 243);
$background: #0f0f0f;
$black: black;
$lightbackground: #0a1320;
$darkgray: #26252a;
$gray: #36353d;

html {
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  color: $primary;
  background-color: $background;
  font-family: 'Roboto Mono', monospace;
}

input {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  margin: 0;
  white-space: pre;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 25px;
  color: $blue;
}

h2 {
  color: $white;
  font-family: 'Arial';
  font-weight: 100;
  margin: 0 0 10px 0;
}

@mixin mobile {
  @media screen and (max-width: 1000px) {
    @content
  }
}

@mixin tablet {
  @media screen and (max-width: 1000px) {
    @content
  }
}
