@import 'index.scss';

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: flex-end;

  div:first-child {
    margin-right: 10px;
  }
}

.logo {
  padding: 10px;
  border-radius: 25px;
  background-color: white;
}

.logoContainer {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  @include mobile {
    display: none;
  }
}

.title {
  margin-top: 30px;
  font-size: 1.5em;
  font-family: 'Messina';
  font-weight: 400;
  color: white;
  text-align: center;
}

.description {
  font-family: 'Messina';
  margin-top: 20px;
  color: white;
  font-size: 1em;
}

.steps {
  margin: 20px 0;
  .step {
    min-height: 40px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: $gray2;
    display: flex;
    flex-direction: row;
    font-family: 'Messina';
    @include mobile {
      font-size: 0.8em;
    }
    .text {
      padding: 10px 15px;
      display: flex;
      align-items: center;
    }
    .iconWrapper {
      border-radius: 4px 0px 0px 4px;
      min-width: 40px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 15px;
      }
    }
  }
}

.tabs {
  margin-top: 20px;
}

.addressSelect {
  margin-top: 20px;
}

.selectAddressContainer {
  text-align: center;
}
