@import 'index.scss';

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.data {
  display: flex;
  flex-direction: row;
  @include mobile {
    flex-direction: column;
  }
}

.section {
  display: flex;
  flex-direction: column;
  flex: 1;
  &:first-child {
    margin-right: 20px;
    @include mobile {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.transactionSection {
  height: 300px;
  overflow: auto;
  margin-bottom: 20px;
}

.disclaimer {
  font-size: 12px;
  color: $darkgray;
  margin-bottom: 20px;
}

.searchBar {
  & > div {
    border: none !important;
    border-bottom: 2px solid $gray !important;
  }
  input {
    background-color: $background !important;
  }
}

.transactions {
  height: 100%;
  overflow: auto;

  .transaction {
    border-bottom: 1px dashed $primary;
    padding: 20px 0;
    &:last-child {
      border-bottom: none;
    }
  }
}

.subTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
  span {
    margin-right: 20px;
  }
}

.processExitButton {
  color: $background;
  background-color: $blue;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}